# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=maintenance_task_management

DB_HOST=db
DB_PORT=3306

# Prisma DB connection
DATABASE_URL="mysql://root:${MYSQL_ROOT_PASSWORD}@${DB_HOST}:${DB_PORT}/${MYSQL_DATABASE}"

JWT_SECRET=secret
